#
# target group configured as 10001 is only allowed to execute
# applications and required libraries from /usr/local/boo
#

# allow things in the app dir for the target group
allow_syslog perm=any  gid=10001 : path=/usr/local/boo/bin/boo
allow_syslog perm=open gid=10001 : path=/usr/local/boo/lib/libboo.so
allow_syslog perm=open gid=10001 : path=/usr/local/boo/config/boo.conf

# also allow system library access
allow_syslog perm=any  gid=10001 : path=/usr/lib64/ld-2.33.so
allow_syslog perm=open gid=10001 : path=/etc/ld.so.cache
allow_syslog perm=open gid=10001 : ftype=application/x-sharedlib trust=1

# deny everything else for the target group
deny_syslog perm=any gid=10001 : all

# allow all other things to function
allow perm=any all : all
